<mat-grid-list cols="1" rowHeight="50rem" class="about-component">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Niravraj P (info@oequal.com)</mat-card-title>
      <mat-card-subtitle>Full stack web developer</mat-card-subtitle>
      <div class="avatar">
        <img  class="tile-image" alt="Developer Logo" src="./assets/images/developer.png">
      </div>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon>school</mat-icon>&nbsp;Bachelor of Information Technology
          </mat-list-item>
          <mat-list-item>
            <mat-icon>location_on</mat-icon>&nbsp;Surat, Gujarat, India
          </mat-list-item>
          <mat-list-item>
            <mat-icon>work</mat-icon>&nbsp;6+ years of experience in web development
          </mat-list-item>
          <mat-list-item>
            <mat-icon>done_all</mat-icon>&nbsp;100+ projects completed around the world
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
